<div class="row question-top"><!--質問タイトル-->
    <div class="question-title"><%= @question.title %></div>
    <div class="question-time"><%= l @question.created_at, format: :long %></div>
    <% if current_user.role == 2 %>
    <div><%= link_to "削除", public_question_path(@question), method: :delete %></div>
    <% end %>
  </div>

  <div class="row question-user"><!--質問情報 -->

    <% if User.find_by(id:@question.user_id).image.attached? %>
      <div class="question-user-icon"><%= image_tag User.find_by(id:@question.user_id).image, size: "50x50" %></div>
    <% else %>
      <%= image_tag 'no_image', size: "50x50" %>
    <% end %>

    <div class="question-user-name pl-5"><%= User.find_by(id:@question.user_id).name %></div>
    <div class="question-subject pl-5">:<%= @question.subject_name %></div>

    <% if @question.favorited_by?(current_user) %>
      <p>
        <%= link_to public_question_favorites_path(@question), method: :delete do %>
          ♥<%= @question.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to public_question_favorites_path(@question), method: :post do %>
          ♡<%= @question.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>

  </div>
  <div style="height: 80%;overflow-wrap: break-word;overflow-y: scroll;text-align:left">
    <div class="question-body"><%= @question.body %></br><!--質問内容-->
      <div><!--画像表示部分 -->
        <% if @question.images.attached? %>
          <div class="row">
            <% @question.images.each do |image| %>
              <%= link_to image, "data-lightbox": image do %>
                <div class="question-user-icon"><%= image_tag image,size: "50x50", class: "img" %></div>
              <% end %>
            <% end %>
          　<div>クリックで拡大</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% @answer.each do |answer| %>
  <div class="question-answer"><!--解答-->
    <div class="row">

      <!--回答者アイコン-->
      <% if User.find_by(id:answer.user_id).image.attached? %>
        <div class="question-user-icon"><%= image_tag User.find_by(id:answer.user_id).image, size: "50x50" %></div>
      <% else %>
        <%= image_tag 'no_image', size: "50x50" %>
      <% end %>

      <div class="answer-user-name"><%= User.find_by(id:answer.user_id).name %></div>
      <div class="answer-time"><%= l answer.created_at, format: :long %></div>
    </div>
    <div  style="height: 80%;overflow-wrap: break-word;overflow-y: scroll;text-align:left">
      <div class="answer-body"><%= answer.answer %>
        <div><!--画像表示部分 -->
          <% if answer.images.attached? %>
            <div class="row">
              <% answer.images.each do |image| %>
                <%= link_to image, "data-lightbox": image do %>
                  <div class="question-user-icon"><%= image_tag image,size: "50x50", class: "img" %></div>
                <% end %>
              <% end %>
              <div>クリックで拡大</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>