<div class="row question-top"><!--質問タイトル-->
    <div class="question-title"><%= @question.title %></div>
    <div class="question-time"><%= l @question.created_at %></div>
    <% if current_user.role == 2 %>
    <div><%= link_to "削除", public_question_path(@question), method: :delete %></div>
    <% end %>
  </div>

  <div class="row question-user"><!--質問情報 -->
    <div class="question-user-icon">アイコン</div>
    <div class="question-user-name pl-5"><%= User.find_by(id:@question.user_id).name %></div>
    <div class="question-subject pl-5">:<%= @question.subject_name %></div>
  </div>
  <div style="height: 80%;overflow-wrap: break-word;overflow-y: scroll;text-align:left">
    <div class="question-body"><%= @question.body %></div></br><!--質問内容-->
  </div>

  <% @answer.each do |answer| %>
  <div class="question-answer"><!--解答-->
    <div class="row">
      <div class="answer-user-icon">解答者アイコン</div>
      <div class="answer-user-name"><%= User.find_by(id:answer.user_id).name %></div>
      <div class="answer-time"><%= l answer.created_at %></div>
    </div>
    <div  style="height: 80%;overflow-wrap: break-word;overflow-y: scroll;text-align:left">
      <div class="answer-body"><%= answer.answer %></div>
    </div>
  </div>
  <% end %>