<div class="container">
  <h3>新規質問投稿</h3>
  <div class="question-submit">
    <%= form_with model:@question,url:public_questions_path, method: :post do |question| %>
    <%= question.text_field :title, placeholder: "質問タイトルを入力" %>
    <%= question.text_area :body, placeholder: "質問内容を入力" %>
    <% question.hidden_field :user_id, :value => current_user.id %>
    <%= question.select :subject_name, options_from_collection_for_select(Subject.all, :subject_name, :subject_name) %>
    <%= question.submit "質問する" %>
    <% end %>
  </div>
</div>