<h2 class="text-center">ユーザー情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |user| %>

  <div class="container text-center col-8">

    <div class="field">
      <%= user.label :ユーザーアイコン %><br />
      <%= user.file_field :image, accept: "image/*" %>
    </div>


    <div class="field">
      <%= user.label :ユーザー名 %><br />
      <%= user.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= user.label :メールアドレス %><br />
      <%= user.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= user.label :紹介文 %><br />
      <%= user.text_area :introduction, autocomplete: "introduction", placeholder: "紹介文(最大50字)" %>
    </div>

    <div class="actions">
      <%= user.submit "変更する" %>
    </div>
  </div>
<% end %>
