<div class="container">
  <div class="row">
    <div class="col-md-2 text-center">
      <h4><strong>User info</strong></h4>
      <% if @user.image.attached? %>
        <div class="question-user-icon"><%= image_tag @user.image, size: "200x200" %></div>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
      <div class="user-info p-3">ユーザー名:<%= @user.name %></div>
      <div class="user-intro p-3">紹介:<%= @user.introduction %></div>

      <% if @user == current_user %>
        <div class="row p-2"><%= link_to edit_user_registration_path(current_user), class: "btn-outline-secondary btn-block btn" do %>
          <i class="fas fa-user-cog"></i><% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="wrap">
        <ul id="tab-menu" class="row offset-3">
          <li><a href="#tab1" class="active col-5">投稿した質問</a></li>
          <li><a href="#tab2" class="col-5">気になる!質問</a></li>
        </ul>
        <!--タブの中身-->
        <div id="tab-contents">
          <div id="tab1" class="tab">
            <div class="mypage-question"><%= render "public/questions/question"%></div>
            <div><%= paginate @question, param_name: 'question' %></div>
          </div>

          <div id="tab2" class="tab">
            <div class="mypage-question"><%= render "public/questions/myfavorite_index"%></div>
            <div><%= paginate @favorite, param_name: 'favorite' %></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>